@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-footer-background: #d1d5db;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-footer-background: var(--header-footer-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--header-footer-background);
}

footer {
  background-color: var(--header-footer-background);
}